<!DOCTYPE html>
<html mlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
      <section class="home-slider inner-page owl-carousel">
        <div
          class="slider-item"
          style="background-image: url('/img/workout.jpg')"
        >
          <div class="container">
            <div
              class="
                row
                slider-text
                align-items-center
                justify-content-center
                text-center
              "
            >
              <div class="col-md-7 col-sm-12 element-animate">
                <h1>BEST EXERCISE</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #searchList.sequence(0,5) -->
      <th:block th:each="dto : ${searchList}">
        <section class="section">
          <div class="container">
            <div class="row mb-5">
              <div class="col-md-6 order-lg-3 mb-5">
                <img th:src="@{${dto.bestImage}}" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="col-md-1 order-lg-2"></div>
              <div class="col-md-5 order-lg-1">
                <h1 id="h1red">BEST [[${dto.bestNum}]]</h1>
                <h2 class="text-uppercase heading mb-4">[[${dto.bestName}]]</h2>
                <p class="mb-3">[[${dto.bestInfo}]]</p>
              </div>
              
            </div>
          </div>
        </section></th:block>
    </th:block>
  </th:block>
</html>
