<!DOCTYPE html>
<html mlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
      <head>
        <script type="text/javascript" src="/js/list.js"></script>
      </head>
      <section class="home-slider inner-page owl-carousel">
        <div
          class="slider-item"
          style="background-image: url('/img/mydataimage/mydataimage2.jpg')"
        >
          <div class="container">
            <div
              class="
                row
                slider-text
                align-items-center
                justify-content-center
                text-center
              "
            >
              <div class="col-md-7 col-sm-12 element-animate"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- END slider -->
      <!-- //섹션 - 추가시키는 칸들 이름 입력// -->
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <form id="saveForm">
                <div class="row"></div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </th:block>
  </th:block>
</html>
