<!DOCTYPE html>
<html mlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{/layout/trainerlayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
      <section class="home-slider  inner-page owl-carousel">
        <div class="slider-item" style="background-image: url('/img/gym-1.jfif');">
          
          <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
              <div class="col-md-7 col-sm-12 element-animate">
                <h1>WELCOME TO PIVOT</h1>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <!-- END slider -->

      <section class="section">
        <div class="container">
          <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center mb-5">
              <h2 class="text-uppercase heading border-bottom mb-4">Search</h2>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
    </th:block>
  </th:block>
</html>
